[submodule "backend"]
	path = backend
	url = git@github.com:Kindred-Systems/pci_go_server.git
[submodule "database"]
	path = database
	url = git@github.com:Kindred-Systems/pci_database.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Kindred-Systems/pci_frontend.git
	branch = develop
