[submodule "go_server"]
	path = go_server
	url = https://github.com/Kindred-Systems/go_server.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Kindred-Systems/frontend.git
[submodule "database"]
	path = database
	url = https://github.com/Kindred-Systems/database.git
